# ----------------------
# Python cache
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual environment
# ----------------------
venv/
.env/
.venv/

# ----------------------
# Python build files
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Vector database
# ----------------------
vectorstore/

# ----------------------
# Embeddings / large data
# ----------------------
data/embeddings/
*.npy

# ----------------------
# Streamlit cache
# ----------------------
.streamlit/

# ----------------------
# Temporary files
# ----------------------
*.tmp
*.temp